@import "./module";

.subscription-option {
    margin-left: auto;
    margin-right: auto;

    input[type=radio] {
        display: none;
    }

    label {
        display: block;
        width: 300px;
        min-height: 200px;
        border-radius: 15px;
        background: #f2f2f2;
        color: #545454;
        font-size: 40px;
        text-align: center;
        cursor: pointer;
        padding-top: 50px;
        margin: 1.4em;
        transition: 0.3s ease all;
    }

    input[type=radio]:checked + label {
        background: $yellow;
        color: white;
    }
}